* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #101723, #5f0808);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 2rem;
}

.todo-app h2 {
  justify-content: center;
  color: #201f1f;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(213, 213, 213);
  border-radius: 30px;
}
input::placeholder {
  letter-spacing: 0.4rem;
}
input {
  text-align: center;

  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

button {
  border: none;
  padding: 16px 50px;
  background: #ff5945;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  transition: 0.2s;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-image: url(./assets/material-symbols--circle-outline.svg);
  background-repeat: no-repeat;
  height: 1.4rem;
  aspect-ratio: 1;
  left: 8px;
}

ul li.checked {
  color: #555;
}
ul li.checked p {
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(./assets/carbon--checkmark-outline.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
ul li span {
  position: relative;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  color: #555;
  text-align: center;
  margin-left: auto;
  border-radius: 50%;
  transition: 0.15s;
}

ul li span:hover {
  background: #edeef0;
}

button:hover {
  opacity: 50%;
}
